* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    --body-height: 125vh;
    --hsl-code: 265;
    --aside-background-light: hsl(var(--hsl-code), 86%, 33%);
    --aside-background-dark: hsl(var(--hsl-code), 84%, 17%);
    --profile-text-color: white;
    --nav-text-color: #101f24;
    --profile-fading-text-color: #d9d9d9;
    --nav-background-color: transparent;
    --main-background-color: white;
    --content-background-color: black;
    --content-text-color: #253439;
    --font-weight-400: 400;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
}

*,
*::before,
*::after {
    font-family: "Nunito", sans-serif;
}

button,
input,
select,
textarea,
a {
    font-family: "Nunito", sans-serif;
}

body {
    font-size: 1.6rem;
    height: var(--body-height);
    width: 99vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.3fr repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-right: 20rem;
}
    
aside {
    position: relative;
    grid-area: 1 / 1 / 6 / 2; 
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10rem 9rem 0;
    border-right: 1px solid black;
    z-index: 10;
    box-shadow: 1.2rem 0 1.2rem rgba(0, 0, 0, 0.3);
}

.background::before {
    content: '';
    height: 52rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--aside-background-dark);
    z-index: -2;
}

.background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--aside-background-light);
    z-index: -1;
}

.background::after {
    content: '';
    height: 23rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--aside-background-light);
    z-index: -2;
}

aside img {
    max-width: 25rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    z-index: 1;
    object-fit: cover;
    display: flex;
    place-self: center;
}

.profile-title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.profile-title-wrapper h1 {
    color: var(--profile-text-color);
    font-size: 5rem;
    line-height: 5.2rem;
}

.profile-title-wrapper h2 {
    color: var(--profile-fading-text-color);
    font-size: 2.2rem;
    text-transform: uppercase;
}

.skills-tab {
    margin-top: 5rem;
}

.skills-tab h2 {
    color: var(--profile-text-color);
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.stacks {
    width: 100%;
    list-style: none;
    color: var(--profile-fading-text-color);
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;  
}

.stacks li {
    display: flex;
    justify-content: space-between;
}

nav { 
    grid-area: 1 / 2 / 2 / 6; 
    background: var(--nav-background-color);
    display: grid;
    place-items: end;
    border-bottom: 1px solid hsl(216, 86%, 33%);
    padding-bottom: 0.5rem;
}

nav ul {
    font-weight: 600;
    display: flex;
    gap: 16rem;
    z-index: 1;
}

nav ul .link {
    list-style: none;
    transition: 0.5s;    
}

nav ul .link label {
    display: block;    
    position: relative;
    text-decoration: none;
    padding: 0.05rem;
    font-size: 2rem;
    color: var(--nav-text-color);
    text-transform: uppercase;
    transition: 0.5s;
    white-space: nowrap;
}

nav ul:hover label {
  transform: scale(1.2);
  opacity: 0.2;
  filter: blur(1px);
}


nav ul .link label:hover {
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
}

nav ul .link label:hover:before {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}

nav .input-wrapper input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
}

nav .input-wrapper input[type="radio"]:checked + label {
    font-weight: 900;
}

input[id="radio1"]:checked ~ #content1 {
    display: block;
}

input[id="radio2"]:checked ~ #content2 {
    display: block;
}

input[id="radio3"]:checked ~ #content3 {
    display: block;
}

.text-element {
    position: absolute;
    top: calc(16vh);
    left: min(max(30vw, 45rem), 55vw);
    right: 20rem;
    min-height: 50vh;
    display: none;
    /* background: var(--content-background-color); */
    color: var(--content-text-color);
    pointer-events: none;
}

.text-element a {
  pointer-events: auto;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  
}

.text-element h1 {
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: var(--font-weight-800);
}

.text-element h2 {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: var(--font-weight-700);
}

.text-element h3 {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: var(--font-weight-600);
}

.text-element p {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: var(--font-weight-400);
}

.text-element ul {
    display: flex;
    flex-direction: column;
    gap: 0;
    list-style-type: disc;
    padding-left: 2rem;
}

.text-element ul li {
  font-size: 1.6rem;
  line-height: 2.8rem;
  max-width: 50rem;
  font-weight: var(--font-weight-400);
}

.text-element ion-icon {
    font-size: 1.2rem;
    margin-block: 1.2rem;
    font-weight: var(--font-weight-400);
}

main {
    grid-area: 2 / 2 / 6 / 6; 
    background: var(--main-background-color);
    height: 100%;
    width: 100%;
    z-index: -6;
}

.main-background {
    background: url('./assets/download.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    width: 100%;
    height: var(--body-height);
    position: fixed;
    left: 0;
    top: 0;
    z-index: -5;
}

.main-background2 {
  background: url('./assets/download2.png');
  z-index: -4;
  opacity: 0.2;
  position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: var(--body-height);
}

.main-background3 {
  background: url('./assets/download3.png');
  z-index: -3;
  opacity: 0.1;
  position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: var(--body-height);
}

.main-background4 {
  background: url('./assets/download4.png');
  z-index: -2;
  opacity: 0.4;
  position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: var(--body-height);
}

li:hover .star-rating ion-icon {
	-webkit-animation: rotate-vert-center 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-vert-center 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

 @-webkit-keyframes rotate-vert-center {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @keyframes rotate-vert-center {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }